h1 {
  font-family: Nunito, sans-serif;
}

ul {
  font-family: Nunito, sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  li {
      background: rgb(238, 238, 238);
      padding: 1em;
      margin-right: 10px;
      width: 20%;
      height: 200px;
      margin-bottom: 1em;
      display: flex;
      flex-direction: column;

      img {
        margin-left: 15%;
        margin-top: 15%;
        height: 60%;
        width: 60%;
      }

      p {
          margin: 0;
      }

      p.name {
          font-weight: bold;
          font-size: 1.2rem;
          float: right;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 70%;
      }
      p.price {
          text-transform: uppercase;
          font-size: .9rem;
          flex-grow: 1;
      }
      p.condition {
        text-transform: uppercase;
        float:left;
        font-size: .9rem;
        flex-grow: 1;
      }
      p.post_date {
        text-transform: uppercase;
        font-size: .9rem;
        flex-grow: 1;
      }
  }
}
