.wrapper {
  box-shadow: 4px 4px 4px var(--secondary);
}

h1 {
  font-family: Nunito, sans-serif;
  text-align: center;
  font-size: 2em;
}

ul {
  font-family: Nunito, sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  li {
      margin-left: 5vw;
      background: rgb(245, 245, 245);
      padding: 1em;
      margin-right: 10px;
      width: 20vw;
      height: 20vw;
      margin-bottom: 1em;
      display: flex;
      flex-direction: column;

      img {
        margin-left: 35%;
        margin-top: 35%;
        height: 30%;
        width: 30%;
      }

      p {
          margin: 0;
      }

      p.name {
          margin-left: 30%;
          text-align: right;
          font-weight: bold;
          font-size: 1rem;
          white-space: nowrap;
          overflow: hidden;
          max-width: 60%;
      }
      p.price {
          text-transform: uppercase;
          font-size: .9rem;
          flex-grow: 1;
      }
      p.condition {
        color: red;
        font-weight: bold;
        text-transform: uppercase;
        float:left;
        font-size: .75rem;
        flex-grow: 1;
      }
      p.post_date {
        text-transform: uppercase;
        font-size: .9rem;
        flex-grow: 1;
      }
  }

  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
}
