<html>
<div class="back"></div>

    <header>
        <div class="container">
            <ul>
                <li><button routerLink="/sell">Sell</button></li>
                <li><button *ngIf="loggedIn" (click)="signOut()">Log out</button></li>
                <li><button *ngIf="!loggedIn" (click)="signInWithGoogle()">Login</button></li>
            </ul>
        </div>
    </header>

<div class="container" *ngIf="loggedIn">
<!--  <app-listing></app-listing>-->
<!--  <app-home></app-home>-->
    <router-outlet></router-outlet>
</div>
</html>
